.App {
  text-align: center;
}

.App-logo {
  width: 150px;
  height: 150px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-sub .item{
  margin-right: 15px;
  text-decoration: none;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", serif;
  color: #4A4A4B;
}
